.title-image{
radius: 50%;
width: 50%;
margin: 10px 5px;
}


.middle-pic{
  border-radius: 100%;
  width: 150px;
  margin: 10px 10px;
}

.last-pic{
  border-radius: 20%;
width: 150px;
margin: 10px 10px
}

#title{
  padding: 5% 5%;
}

#feature{
  text-align: center;
  margin: 20px 10px;
}

.fa-brands{
  margin: 20px 10px;
}

.navbar-nav{
  margin-left: auto;
  text-align: right;
  margin-top: 10px;
}
